<li class='nav-item'><a href='/task_list/'>task_list</a></li>
<li class='nav-item'><a href='/task_detail/1/'>task_detail</a></li>
<li class='nav-item'><a href='/task_create/'>task_create</a></li>
<li class='nav-item'><a href='/task_update/1/'>task_update</a></li>
<li class='nav-item'><a href='/task_delete/1/'>task_delete</a></li>

<li class='nav-item'><a href='/task_list_api/'>task_list_api</a></li>
<li class='nav-item'><a href='/task_detail_api/1/'>task_detail_api</a></li>
<li class='nav-item'><a href='/task_create_api/'>task_create_api</a></li>
<li class='nav-item'><a href='/task_update_api/1/'>task_update_api</a></li>
<li class='nav-item'><a href='/task_delete_api/1/'>task_delete_api</a></li>